<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

	$("#listBtn").on("click", function() {
		$.get("/boards/list", function(data) {
			console.log(data);

			alert(JSON.stringify(data));
		});
	});

	$("#registerBtn").on("click", function() {
		$.get("/boards/register", function(data) {
			console.log(data);

			alert(JSON.stringify(data));
		});
	});

	$("#modifyBtn").on("click", function() {
		$.get("/boards/modify", function(data) {
			console.log(data);

			alert(JSON.stringify(data));
		});
	});

});
</script>

<body>
	<h1>Ajax Home</h1>

	<div>
		<button id="listBtn">/boards/list</button>
		<button id="registerBtn">/boards/register</button>
		<button id="modifyBtn">/boards/modify</button>
	</div>
</body>
</html>
