<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script src="/js/app/login.js"></script>
<script src="/js/app/board.js"></script>
<script src="/js/app/notice.js"></script>

<body>
	<h2 th:text="#{common.homeWelcome}"></h2>
	
	<p th:text="${serverTime}">시간 표시 </p>
	
	<hr>

	<h3>Login</h3>
	
	<table>
		<tr>
			<td><label for="userId">userId</label></td>
			<td><input type="text" value="" id="userId"></td>
		</tr>
		<tr>
			<td><label for="password">password</label></td>
			<td><input type="password" value="" id="password"></td>
		</tr>
	</table>	
	
	<div>
		<button id="loginBtn">login</button> <button id="myInfoBtn">myInfo</button>
	</div>	
	
	<hr>

	<h3>Board</h3>
	
	<table>
		<tr>
			<td><label for="boardNo">boardNo</label></td>
			<td><input type="text" value="" id="boardNo"></td>
		</tr>
		<tr>
			<td><label for="boardTitle">title</label></td>
			<td><input type="text" value="" id="boardTitle"></td>
		</tr>
		<tr>
			<td><label for="boardContent">content</label></td>
			<td><textarea id="boardContent"></textarea></td>
		</tr>
		<tr>
			<td><label for="boardWriter">writer</label></td>
			<td><input type="text" value="" id="boardWriter"></td>
		</tr>	
	</table>
	
	<div>
		<button id="boardListBtn">LIST</button>
		<button id="boardReadBtn">READ</button>
		<button id="boardRegisterBtn">REGISTER</button>
		<button id="boardDeleteBtn">DELETE</button>
		<button id="boardModifyBtn">MODIFY</button>
		<button id="boardResetBtn">RESET</button>
	</div>
	
	<hr>
	
	<h3>Notice</h3>
	
	<table>
		<tr>
			<td><label for="noticeNo">noticeNo</label></td>
			<td><input type="text" value="" id="noticeNo"></td>
		</tr>
		<tr>
			<td><label for="noticeTitle">title</label></td>
			<td><input type="text" value="" id="noticeTitle"></td>
		</tr>
		<tr>
			<td><label for="noticeContent">content</label></td>
			<td><textarea id="noticeContent"></textarea></td>
		</tr>
	</table>

	<div>
		<button id="noticeListBtn">LIST</button>
		<button id="noticeReadBtn">READ</button>
		<button id="noticeRegisterBtn">REGISTER</button>
		<button id="noticeDeleteBtn">DELETE</button>
		<button id="noticeModifyBtn">MODIFY</button>
		<button id="noticeResetBtn">RESET</button>
	</div>

</body>
</html>
