<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

	$("#loginBtn").on("click", function() {
		var userId = $("#userId");
		var password = $("#userPw");
		
		var userIdVal = userId.val();
		var passwordVal = password.val();
		 
		var userObject = {
			userId : userIdVal,
			userPw : passwordVal
		};
		 
		$.ajax({
			type : "POST",
			url : "/users/login",
			data: JSON.stringify(userObject),
			contentType : "application/json; charset=UTF-8",
			success : function(data) {
				console.log("data: " + data);
				
				alert(JSON.stringify(data));
			}
		});
	});		

});
</script>

<body>
	<h1>Login Form </h1>
	<form>
		userId: <input type="text" name="userId" value="hongkd" id="userId"><br>
		password: <input type="password" name="userPw" value="pwd2" id="userPw"><br>
	</form>
	

	<button id="loginBtn">loginBtn</button>

</body>
</html>
